@import '~antd/dist/antd.css';
*{
    padding:0;
    margin:0;
}
ul li {
    list-style:none;
}
body{
    background-color: #ddd;
}

/* header  */
.headerwrap{
    height:50px;
    background-color: #444;
}
.headerwrap header{
    width:1200px;
    margin: 0 auto;
}
.headerwrap img{
    float:left;
    width:120px;
    margin-top:8px;
}
.headerwrap a{
    margin:0 20px;
    color:#fff;
}
.insearch{
    float:left;
    width:200px;
    height:25px;
    border-radius: 15px;
    border:1px solid gray;
    background-color:gray;
    margin:12px 20px;
}
.insearch:hover{
    background-color: rgb(247, 243, 243);
}
/* main */
.main{
    width:1200px;
    margin:30px auto; 
}
.content{
    width:900px;
    float:left;
}
.sider{
    width:270px;
    height:500px;
    float:right;
}
.headtab{
    width:900px;
    height:40px;
    background-color: #f7f7f7;
}
.it{
    color:rgb(99, 185, 0);
    background-color: #f7f7f7;
    border:none;
    width:35px;
    height:25px;
    margin:5px 15px;
}
.item{
    height:50px;
    padding:10px 10px;
    border-bottom: 1px solid rgb(228, 225, 225);
    background-color: #fff;
    /* overflow:"hidden"; */
}
.item-img{
    width:30px;
    height:30px;
    margin-right:10px;
}
.title{
    color:black;
}
.behind-part{
    float:right;
    margin-right:10px;
    font-size:10px;
    line-height:30px;
}
.behind-img{
    width:16px;
    height:16px;
    margin-right:20px;
}
.content-item{
    margin-bottom:0;
}
.page-item{
    width:900px;
    height:55px;
    list-style:none;
    background-color: #fff;
    padding:15px 50px;
}
.page-num{
    float:left;
    width:35px;
    height:30px;
    line-height:30px;
    text-align:center;
    color:black;
    border:1px solid rgb(228, 226, 226);
}

/* sider */
.loginn{
    width:270px;
    height:110px;
    float:left;
    padding:10px;
    background-color: #fff;
}
.btn{
    width:150px;
    height:30px;
    color:#fff;
    border-radius:5px;
    border:1px solid rgb(75, 195, 243);
    background-color: rgb(75, 195, 243);
}
.imgs{
    float: left;
    width:270px;
    height:220px;
    margin:15px 0;
    background-color: #fff;
}
.imgs img{
    width:250px;
    height:60px;
    margin-left:10px;
    margin-top:10px;
}
.street{
    width:270px;
    height:300px;
    float:left;
    margin:15px 0;
    background-color: #fff;
}
.street img{
    width:250px;
    height:50px;
    margin-left:10px;
    margin-top:10px;
}
.erweima{
    float: left;
    width:270px;
    height:260px;
    background-color: #fff;
    padding:10px;
    margin:20px 0;
}
.erweima img{
    width:200px;
    height:200px;
    margin:0 20px;
}